/* preview styles */

.h5p-diagram-editor-preview-wrapper {
    margin-top: 1em;
}

.h5p-diagram-editor-preview {
    border: 1px solid #ddd;
    padding: 0.5em;
    background: #fafafa;
}

.h5p-diagram-editor-preview .h5p-diagram {
    width: 100%;
}

/* intersection styles */

.h5p-diagram-intersection-row {
    position: relative;
    background-color: #fcfcfc;
    padding: 20px;
    border: 1px solid #d0d0d1;
    margin-bottom: 0.5em;
}

.h5p-diagram-circle-field {
    display: inline-block;
    margin: 0 0.5em 0 0;
}

.field-name-size {
    margin: 0.5em 0 0;
}

.h5p-diagram-add-circle {
    margin: 0;
}

.h5p-diagram-remove-circle {
    margin: 0 0.5em 0 -0.5em;
    border: none;
    font-size: 1em;
    border-radius: 0 0.25em 0.25em 0;
    cursor: pointer;
}

.h5p-diagram-remove-circle:hover {
    color: #fff;
    background-color: #c90c0c;
}

.h5p-diagram-remove-intersection {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5em;
    color: #747275;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
}

.h5p-diagram-remove-intersection:hover {
    color: #c90c0c;
}

.h5p-diagram-remove-intersection:after {
    font-family: "H5P";
    content: "";
    opacity: .7;
    display: block;
}
